@import "../../../Global.scss";

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 8px;

  .defaultButtons {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;

    .filterInput {
      padding: 8px;
      border-radius: 5px;
      border: 1px solid $placeholder-color;
      outline: transparent;

      &:focus {
        border: 1px solid $primary-color;
      }
    }

    .button {
      border: 1px solid $primary-color;

      &:hover {
        cursor: pointer;
        border: 1px solid $primary-color;
        box-shadow: inset 0 0 3px #0088c26c;
      }
    }
  }

  .button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $placeholder-color;
    background-color: $main-white;
    transition: 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 1px solid $invalid-color;
    }
  }

  .filteredButton {
    border: 1px solid $invalid-color;
    background-color: $invalid-color;
    color: $main-white;
  }
}
