@import "../../../Global.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-secondary-color;
  padding: 32px;
  width: 100%;
  margin-bottom: 32px;
  border-radius: 10px;

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    .inputs {
      display: flex;
      flex-direction: column;
    }

    .subitems {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $main-white;
      padding: 22px;
      border-radius: 5px;
      min-width: 350px;
      position: relative;

      .blockSubitems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        height: 100%;
        padding: 22px;
        width: 100%;
        margin-top: -22px;
        gap: 12px;
        backdrop-filter: blur(3px);
      }

      .captions {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 22px;
        gap: 8px;

        & > div {
          display: flex;
          gap: 8px;
        }
      }

      .options {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        width: 100%;

        .optionsContent {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 300px;
          gap: 8px;
          background-color: $main-white;
          border-radius: 5px;
          padding: 22px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

          .optionsSelect {
            width: 100%;
            height: 130px;
            padding: 6px 0;
            outline: none;
            font-size: 16px;
            border-radius: 5px;
            background: $main-white;
            border: 2px solid rgba(0, 0, 0, 0.5);

            option {
              display: flex;
              justify-content: flex-start;
              padding: 5px;

              &:hover {
                cursor: pointer;
                background-color: $primary-color;
                color: $main-white;
                opacity: 0.8;
              }
            }

            &:focus {
              outline: none;
            }
          }

          .items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;

            label {
              width: 100%;
            }

            .item {
              display: flex;
              align-items: center;
              background-color: $primary-color;
              padding: 4px 6px;
              border-radius: 5px;
              gap: 5px;
              height: 25px;
              color: $main-white;
              transition: background-color 0.2s;

              svg:hover {
                cursor: pointer;
                animation: svg-shake 0.5s ease-in-out infinite;
              }
            }

            .hovered {
              background-color: $invalid-color;
            }
          }
        }
      }
    }
  }
}

@keyframes svg-shake {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
