@import "../../Global.scss";

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 32px;
  position: relative;

  .isLoading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    z-index: 2;
  }
}

.userCard {
  display: flex;
  align-items: center;
  width: 400px;
  height: 100px;
  padding: 22px 12px;
  background-color: $background-secondary-color;
  border-radius: 10px;
  position: relative;

  .userProfileImage {
    width: 40px;
    height: 40px;
    transform: scale(1.4);
  }

  .userDefaultProfileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    background-color: $main-white;
    border-radius: 10px;
    color: $background-color;
    width: 40px;
    height: 40px;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
    gap: 8px;
    word-break: break-all;
  }

  .userManage {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
    gap: 12px;
  }

  @media screen and (max-width: 720px) {
    width: 340px;
  }
}

.userIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  min-width: 340px;
  height: fit-content;
  padding: 22px 12px;
  background-color: $background-secondary-color;
  border-radius: 10px;
  position: relative;
  margin-top: 32px;
  column-gap: 22px;
  row-gap: 20px;
  position: relative;

  .userDefaultProfileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    background-color: $main-white;
    border-radius: 10px;
    color: $background-color;
    width: 50px;
    height: 50px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      scale: 0.95;
    }
  }

  .profileIcon {
    border: 1px solid transparent;
    border-radius: 15px;
    transition: border 0.4s ease;
    width: 50px;
    height: 50px;
    transform: scale(1.4);

    &:hover {
      cursor: pointer;
      border: 1px solid $main-white;
    }

    &:active {
      scale: 0.95;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: $background-secondary-color;
    z-index: 2;

    .loader {
      width: 4.8px;
      height: 4.8px;
      display: block;
      margin: 20px auto;
      position: relative;
      border-radius: 4px;
      color: white;
      background: currentColor;
      box-sizing: border-box;
      animation: animloader 0.3s 0.3s linear infinite alternate;
    }
    .loader::after,
    .loader::before {
      content: "";
      box-sizing: border-box;
      width: 4.8px;
      height: 4.8px;
      border-radius: 4px;
      background: currentColor;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 15px;
      animation: animloader 0.3s 0.45s linear infinite alternate;
    }
    .loader::after {
      top: -15px;
      animation-delay: 0s;
    }

    @keyframes animloader {
      0% {
        width: 4.8px;
      }
      100% {
        width: 48px;
      }
    }
  }
}
