@import "../../../Global.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 32px;
  margin-bottom: 32px;

  .manageVisibilyState {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 22px;
    column-gap: 16px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      padding: 16px;
      background-color: $background-secondary-color;
      border-radius: 5px;
      margin-top: 32px;
      border: 1px solid transparent;
      transition: border 0.3s ease-in-out;

      &.isActive {
        border: 1px solid $main-white;
      }

      &:hover,
      label:hover {
        cursor: pointer;
      }
    }
  }

  .filterInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}

.ordersContent {
  width: 100%;
  min-width: 350px;
  min-height: 250px;
  margin-top: 22px;
  border-radius: 10px;
  padding: 32px;
  background-color: $background-secondary-color;

  .orderItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    margin-top: 22px;
    gap: 22px;
    background-color: $background-secondary-color;

    @media screen and (max-width: 721px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    .noContent {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 24px;
      width: 100%;

      label {
        display: flex;
        align-items: center;
        max-width: 350px;
      }
    }
  }
}
