@import "../../../Global.scss";

.filmModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  position: fixed;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  background: rgb(33, 37, 41, 60%);
  backdrop-filter: blur(2px);
  z-index: 1;
  overflow-y: scroll;

  .updateContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
    padding: 32px;
    min-height: 80%;
    max-height: 90%;
    min-width: 300px;
    border-radius: 8px;
    background-color: $background-secondary-color;
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
    overflow-y: scroll;

    .filmForm {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;

      .formSide {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }

    .classificationContent {
      display: flex;
      justify-content: space-around;
      width: 100%;

      img {
        height: 48px;

        &.currentClassification {
          border: 3px solid $main-white;
          border-radius: 8px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .closeModalIcon {
      position: absolute;
      top: 8px;
      right: 8px;
      color: $main-white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
